<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-around center">

    <div fxLayout="row" fxLayoutAlign="center center"> <a class="home-icon" routerLink="/" routerLinkActive="active"><span>InstaMatch</span></a> </div>

    <ng-container *ngIf="(currentUser$|async)as user; else userOut">

      <ul fxLayout="row" fxLayoutAlign="center center">
        <li > <a routerLink="/users" routerLinkActive="active" class="link">Matches</a></li>
        <li><a routerLink="/list" routerLinkActive="active" class="link">Lists</a></li>
        <li><a routerLink="/messages" routerLinkActive="active" class="link">Messages</a></li>
      </ul>

      <div class="dropdown">
        <button class="dropbtn" mat-raised-button> {{user.userName |titlecase}}  <mat-icon>arrow_drop_down</mat-icon></button>
        <div class="dropdown-content">
          <button class="btn_select">Edit Profile</button>
          <hr>
          <button class="btn_select" (click)="onLogOut()">LogOut</button>
        </div>
      </div>

    </ng-container>


    <ng-template #userOut>

      <div class="login_container" style="max-height:15px !important ;" fxLayout="row" fxLayoutAlign="center center"
        [formGroup]="profileForm">
        <input type="text" id="username" formControlName="userName" placeholder="UserName" class="input">
        <input type="password" id="password" formControlName="password" placeholder="password" class="input">
        <button (click)="onLogIn()" mat-raised-button class="login_btn" color="primary">Log In</button>
      </div>

    </ng-template>



  </mat-toolbar-row>
</mat-toolbar>
