<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-around center">

    <div fxLayout="row" fxLayoutAlign="center center"><span>InstaMatch</span> </div>

    <ng-container *ngIf="currentUser$|async; else userOut">

      <ul fxLayout="row" fxLayoutAlign="center center">
        <li>Matches</li>
        <li>Lists</li>
        <li>Messages</li>
      </ul>

      <div class="dropdown">
        <button class="dropbtn" mat-raised-button>Gonim<mat-icon>arrow_drop_down</mat-icon></button>
        <div class="dropdown-content">
          <button class="btn_select">Edit Profile</button>
          <hr>
          <button class="btn_select" (click)="onLogOut()">LogOut</button>
        </div>
      </div>

    </ng-container>


    <ng-template #userOut>

      <div class="login_container" style="max-height:15px !important ;" fxLayout="row" fxLayoutAlign="center center"
        [formGroup]="profileForm">
        <input type="text" id="username" formControlName="userName" placeholder="UserName" class="input">
        <input type="password" id="password" formControlName="password" placeholder="password" class="input">
        <button (click)="onLogIn()" mat-raised-button class="login_btn" color="primary">Log In</button>
      </div>

    </ng-template>



  </mat-toolbar-row>
</mat-toolbar>
